* {
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #5f4b8bff;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  color: white;

  /* position: relative; */
  /* margin: 1rem 2rem; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#game .card {
  background-color: #e69a8dff;
  /* box-shadow: white 0px 6px 1px; */
  /* display: inline-block; */
  /* border: 1px solid black; */
  height: 200px;
  margin: 10px;
  width: 15vw;
  min-width: 1vw;
  max-height: 25vh;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  cursor: pointer;
  min-height: 100px !important;
}

img {
  border-radius: 10px;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* align-items: center; */
  height: auto;
  margin-top: 1rem;
  /* margin: 1rem 0 1rem 2rem; */
  /* width: 100vw; */
  /* background-color: blueviolet; */
  align-content: flex-start;
}

#game-container {
  position: relative;
}

#welcome {
  text-align: center;
  margin-top: 30vh;
  width: 100%;
  height: 100vh;
}

#start-game {
  padding: 1rem 3rem;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

#start-game:hover {
  opacity: 0.8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: white;
  color: black;
}

.front-img {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scoreBoard {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.score-box {
  display: flex;
  gap: 1rem;
  border: 1px solid blue;
  padding: 0.5rem;
  border-radius: 5px;
  align-items: center;
}

#welcome {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#welcome input {
  width: 15rem;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid blue;
  margin-top: 1rem;
}

section h1 {
  font-size: 3rem;
}

section button {
  padding: 1rem 2rem;
  border: 2px solid blue;
  border-radius: 5px;
  color: blue;
  margin-top: 1rem;
  background-color: #e69a8dff;
}

#game-container {
  height: 100vh;
}

.popupbg {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: contrast(40%);
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  padding: 5rem;
  background-color: white;
  width: fit-content;

  border-radius: 5px;
  text-align: center;
  line-height: 2rem;
  color: black;
}

.popup h1 {
  margin-bottom: 1rem;
}

.restart-button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  background-color: white;
  cursor: pointer;
}

.restart-button-game {
  /* margin-top: 1rem; */
  padding: 0.7rem 1rem;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  background-color: white;
  cursor: pointer;
}

#score,
#best {
  color: blue;
  font-weight: bold;
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flipCard {
  transform: rotateY(180deg);
}

#limit-game {
  padding: 0.7rem;
  width: 8rem;
  border-radius: 5px;
  border: 1px solid black;
}

#welcome label {
  margin-top: 1rem;
  font-size: 2rem;
}

#welcome select {
  margin-top: 1rem;
  font-size: 1rem;
  width: 10rem;
  border-radius: 5px;
  padding: 5px 5px;
}

.reset-button,
.close-button {
  padding: 0.8rem;
  width: 5rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

.reset-button:hover,
.close-button:hover {
  background-color: lightgray;
}
.reset-button {
  color: red;
  border: 1px solid red;
}

.close-button {
  border: 1px solid black;
  margin-left: 10px;
}

@media all and (max-width: 900px) {
  .header {
    flex-direction: column;
    row-gap: 1rem;
  }

  #scoreBoard {
    flex-direction: column;
  }
}

@media all and (max-width: 550px) {
  #game .card {
    width: 100px;
    height: 100px;
  }

  #game {
    justify-content: center;
    align-items: center;
  }
}
